/* FONTS IMPORT */
@import url("https://use.typekit.net/tct3maa.css");

/* Removing padding an margin for whole page */

* {
  padding: 0;
  margin: 0;
}

/* General rules */

body {
  background-color: #e3e6d1;
  font-family: forma-djr-banner, sans-serif;
  animation: shake 50ms ease-in-out;
  overflow: hidden;
}

/* Plate and logo */

header {
  text-align: center;
  position: relative;
  animation: slide-in-top 1s ease-in-out;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0px);
  }
}

header h1 {
  font-family: bely-display, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 55pt;
  padding-top: 10px;
  text-shadow: 0px 2px 4px #00000096;
  animation: slide-in-top 1.3s ease-in-out;
}
header h2 {
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 22pt;
  animation: slide-in-top 1.2s ease-in-out;
}

#whiteCircle {
  z-index: -1;
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  filter: drop-shadow(0px 0px 10px #0000004c);
}

.fa-utensils {
  font-size: 30pt;
  color: #546673;
  padding-top: 30px;
}

/* Main content */

@keyframes left-to-right {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes right-to-left {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* Container flexing out entire main content section */

#main-container {
  display: flex;
  justify-content: space-around;
}

/* Titles for white boxes */

#infoContainer-left h3,
#infoContainer-right h3 {
  text-align: center;
  padding-bottom: 15px;
  font-family: bely, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18pt;
  letter-spacing: 1px;
}
/* Animations */

#infoContainer-left {
  animation: left-to-right 1.4s ease-in-out;
}
#infoContainer-right {
  animation: right-to-left 1.4s ease-in-out;
}
#infoContainer-left h3 {
  animation: left-to-right 1.5s ease-out;
}
#infoContainer-right h3 {
  animation: right-to-left 1.5s ease-out;
}

/* White boxes on both sides */

.white-box {
  height: 430px;
  width: 250px;
  background-color: white;
  border-radius: 20px;
}

.white-box h4 {
  padding-left: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: underline;
}

/* Middle button container */

#button-container {
  margin-top: 150px;
  text-align: center;
  animation: slide-in-bottom 1.4s ease-in-out;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0px);
  }
}

#button-container h4 {
  font-weight: 100;
  font-size: 13pt;
  color: white;
  letter-spacing: 1.5px;
  padding: 10px 40px;
  border-radius: 40px;
  background-color: #afac50;
  margin-bottom: 30px;
  user-select: none;
  animation: slide-in-bottom 1.2s ease-in-out;
}
#button-container h4:nth-child(2) {
  background-color: #546673;
  animation: slide-in-bottom 1.3s ease-in-out;
}
#button-container h4:hover,
#button-container h4:nth-child(2):hover {
  background-color: black;
  cursor: pointer;
  transition: 0.2s;
}

#button-container h5 {
  margin-top: 70px;
  animation: slide-in-bottom 1.4s ease-in-out;
}

#button-container p {
  margin: auto;
  margin-top: 100px;
  padding: 5px 10px;
  border-radius: 20px;
  width: fit-content;
  background-color: black;
  color: white;
  font-size: 9pt;
  word-spacing: 0px;
  letter-spacing: 1px;
  animation: slide-in-bottom 1.5s ease-in-out;
}
#button-container p:hover {
  transform: scale(1.05);
  transition: 0.2s;
  cursor: pointer;
}

.fa-download {
  padding-left: 5px;
}

#price {
  font-size: 12pt;
}

/* Styling the lists of dishes and ingredients generated by the script */

#dishField ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 95%;
  list-style: none;
  padding-left: 30px;
  letter-spacing: 1px;
  font-size: 12pt;
  font-weight: 500;
}
#dishField li {
  font-family: indie-flower, sans-serif;
  font-weight: 800;
}

#dishIngredients {
  overflow-y: scroll;
  scrollbar-width: 0px;
}
#dishIngredients::-webkit-scrollbar {
  display: none;
}

#dishIngredients ul {
  padding-top: 20px;
  list-style: none;
  font-weight: 500;
  padding-left: 20px;
}
#dishIngredients li {
  display: flex;
  text-align: left;
  flex-direction: column;
  font-family: indie-flower, sans-serif;
  text-align: left;
}
